<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Password Generator</title>
    <link rel="shortcut icon" href="..//static/diceimg.png">
    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous";></script>
    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="/static/stylesheets/style.css">
  </head>
  <body>
    <main class="container">

        <h2>Gerador de Senhas Fortes</h2>
        <form action="">
          <div class="generator">
            <input id="password" type="text" value="{{ message }}" />
            <div class="underline"></div>
          </div>
  
          <input type="submit" href="#" value="Gerar" />
        </form>
  
        <div class="footer">
          <div class="elements">
            <div class="elements copy">
              
              <button type="button" onclick="copyClipBoard();">
                  <i class="fas fa-copy"></i>
                  Copiar senha
                </button>
                
              
            </div>
            <div class="elements unlock">
              <button type="button" onclick="hydePass();">
                <i class="fas fa-unlock-alt"></i>
                Ocultar senha
              </a>
            </div>
          </div>
        </div>

        <div class="info">

          <h3><i class="fas fa-dice"></i> Diceware Password</h3><br>
          <p>Criada por <b>Arnold Reinhold</b> em 1995, o método Diceware utiliza de conceitos de estatisticas como aleatoriedade, usando dados e uma lista de palavras para construir frases praticamente "inquebráveis".<br><br> Usando a ideia de usar 6 palavras separadas por espaço, a construção dessas senhas se tornam extremamente simples, mas com uma dificuldade de até 27 milhões de anos pra adivinhar uma senha usando 1 trilhão de tentativas por segundo.</p>

        </div>

        <div class="autor">
          <p> <i id="c" class="far fa-copyright"></i> Authors <br><br></p>
          <div class="social">
            <a href="https://www.linkedin.com/in/igor-rocha-lima/"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/eaiigor"><i class="fab fa-github"></i></a>  Igor Lima <br>
            <a href="https://www.linkedin.com/in/victorlimasec/"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/V1ctorLima"><i class="fab fa-github"></i></a>  Victor Lima  
          </div>
          
        </div>
     
    </main>
  </body>
</html>
